<h1>Categorías de Chuck Norris</h1>

<div>
  <h2>Crear Categoría</h2>
  <input type="text" [(ngModel)]="newCategory" placeholder="Nueva categoría" />
  <button (click)="createCategory()">Crear</button>
</div>

<div *ngIf="categories">
  <h2>Listado de Categorías</h2>
  <ul>
    <li *ngFor="let category of categories">
      {{ category }}
      <button (click)="updateCategory(category, 'New Category')">Actualizar</button>
      <button (click)="deleteCategory(category)">Eliminar</button>
    </li>
  </ul>
</div>
