<form>
    <label for="id">ID
        <input type="text" id="id" placeholder="Id"></label><br>
    <label for="id">Nombre
        <input type="text" id="name" placeholder="Nombre"></label><br>
    <label for="id">Apellido
        <input type="text" id="lastName" placeholder="Apellido"></label><br>
    <label for="id">Posición
        <input type="text" id="position" placeholder="Posición"></label><br>
    <label for="id">Salario
        <input type="text" id="salary" placeholder="Salario"></label><br>
    <button type="submit">Enviar</button>
</form>