<h2>Agregar Empleado</h2>
<app-son (employeeAdded)="addEmployee($event)"></app-son>

<h2>Lista de Empleados</h2>
<ul>
    <li *ngFor="let employee of employees">
        {{ employee.name }} {{ employee.lastName }} - {{ employee.position }} - {{ employee.salary }}
        <button (click)="addFeature(employee)">Agregar Característica</button>
        <ul>
            <li *ngFor="let feature of getFeatures(employee.id)">
                {{ employee.name }} - {{ feature }}
            </li>
        </ul>
    </li>
</ul>