<form (ngSubmit)="submitForm()">
    <div>
        <label for="id">ID:</label>
        <input type="text" id="id" [(ngModel)]="id" name="id">
    </div>
    <div>
        <label for="name">Nombre:</label>
        <input type="text" id="name" [(ngModel)]="name" name="name">
    </div>
    <div>
        <label for="lastName">Apellido:</label>
        <input type="text" id="lastName" [(ngModel)]="lastName" name="lastName">
    </div>
    <div>
        <label for="position">Posición:</label>
        <input type="text" id="position" [(ngModel)]="position" name="position">
    </div>
    <div>
        <label for="salary">Salario:</label>
        <input type="text" id="salary" [(ngModel)]="salary" name="salary">
    </div>
    <button type="submit">Agregar Empleado</button>
</form>